<h2>Trucks to Approve</h2>

<% @pending_trucks.each do |truck| %>
	<%= truck.name %>
	<div id="approve"></div>
	<div id="kill"></div>
<% end %>

<h2>Problems Reported</h2>
	<%= @all_issues.each do |issue| %>
		<%= issue.truck %>
		<%= issue.issue_body %>
	<% end %>
	