<div id='header'>
		<h1>TruckHunter</h1>
		<div id="searchbox">
	        <form>
	        	<input type="text" name="foodtruck"  placeholder="search for a foodtruck!" id="autocomplete">
	        </form>
		</div>
</div>




<div id='map' class='dark'></div>


