<div id='header'>
	<h2>TruckHunter</h2>
		<form id="searchform">
			<input type="text" name="foodtruck"  placeholder="search for a foodtruck!" id="autocomplete">
		</form>
</div>



<div id='map' class='dark'></div>

<div id="addtruck">
	<img src='/assets/add.png'></img>	
</div>

<div id="findme">
	<img id="geolocate" src='/assets/gps.png'></img>
</div>

<div id="loader"><span class="message"><img src="/assets/loader.gif"></span></div>

<div id="usersubmit">
	<p>i know a freaking amazing truck that i want to share with the world.</p>
</div>

<div id="usersubmitform">
	<div id="close"><text>&#10005;</text></div>
		<%= form_for @newtruck, url: "/addtruck" do |f| %>
			Truck's Name:<br>
			<%= f.text_field :name%><br>
			Twitter Handle: <br>
			<%= f.text_field :twitter_handle %><br>
			<%= f.submit "let us know!"%>
		<% end %>
</div>

<div id="truckowner">
	<p>how do i get my food truck on this awesome map?!</p>
</div>

<div id="truckownerreadme">
	<div id="close"><text>&#10005;</text></div>
	<h2>wanna be on our map?</h2>
	<p>TruckHunter parses food truck's tweets to determine your location. We first check to see if your tweet is geo-tagged, and then use the coordinates to plot the food truck marker on our map. If your tweet is not geo-tagged, we then parse through the tweet to grab any text mentioning a location. We pull tweets out every hour, and when a user visits our app, we make sure to display the most recent tweets. <p>

	<p>The best way to ensure that your food truck is placed accurately on our map is to geo-tag your tweet! You have to turn on the geo-tag for every tweet, but it only takes one second, and we can then pinpoint your exact location.</p>

	<p>Questions? Holla at us truckhunterdbc@gmail.com</p> 
</div>






