<div id='header'>
	<h2>TruckHunter</h2>
		<form id="searchform">
			<input type="text" name="foodtruck"  placeholder="search for a foodtruck!" id="autocomplete">
		</form>
</div>



<div id='map' class='dark'></div>


<div id="addtruck">
	<img src='/assets/addtruckicon.png'></img>	
</div>


<div id="findme">
	<img id="geolocate" src='/assets/gpslogo.png'></img>
</div>


<div id="usersubmit">
	<p>i know a freaking amazing truck that i want to share with the world.</p>
</div>

<div id="usersubmitform">
	<div id="close"><text>&#10005;</text></div>
		<%= form_for @newtruck, url: "/addtruck" do |f| %>
			<%= f.text_field :name, placeholder: "truck's name" %><br>
			<%= f.text_field :twitter_handle, placeholder: "twitter handle" %><br>
			<%= f.submit "let us know!"%>
		<% end %>
</div>


<div id="truckowner">
	<p>how do i get my food truck on this awesome map?!</p>
</div>


<div id="truckownerreadme">
	<div id="close"><text>&#10005;</text></div>
	<h2>wanna be on our map?</h2>

	<p>TruckHunter searches tweets to determine your location. Using the geotagging feature of Twitter is the best way to be accurately located! If your tweet is not geotagged, we then parse through the tweet to grab any text mentioning a location. 

	<h3>to use twitter's geotagging features:</h3>

	<p>Geotagging must be enabled in your Twitter settings, and you must manually enable each tweet to attach your location! Use geotagging only when you are tweeting from the actual location of your truck.</p>
	
	<h3>to have us parse your location:</h3>

	<p>It's best to list a single location in your tweet, with clear cross-street names.</p>

	<p>Some good ways to list your location: "38st and Broadway", "14th and 3rd ave", "south street seaport", "bryant park"</p>

	<p>Questions? truckhunterdbc@gmail.com</p> 
</div>






