<div id="popup">
	<a id="close" href="/">x</a>
	<a href="http://twitter.com/<%= "#{@truck.twitter_handle}"%>"> <%="#{@truck.twitter_handle}"%></a>:
	<% if @truck.tweets.last %>
		<p><%= @truck.tweets.last.body%> </p>
	<% else %>
		<p>we do not have any recent tweets for this truck!</p>
	<% end %>
</div>