body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  margin-top: 60px;
}

#header {
  position: fixed !important;
  width: 100%;
  z-index: 10000;
  height: 50px;
  background-color: #eee;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}


#header h1 {
  font-family: 'wendy one', sans-serif;
  text-shadow: 1px 1px 1px #867970;
  font-size: 60px;
  padding: 0px;
  margin: 0px;
  float: left;
}

