body {
  margin:0;
  padding:0;
}

#map {
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  margin-top: 70px;
  z-index: -1;
}

#header {
  position: fixed !important;
  width: 100%;
  height: 50px;
  background-color: #2F2F4F;
  padding: 0 0 25px 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

#header h2 {
	font-family: 'poiret one', sans-serif;
	text-shadow: 1px 1px 3px #000000;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  margin-top: 5px;
  padding: 0;
  float: left;
  color: white;
}

#map img {
  position: absolute;
  top: 0;
  margin-top: 25px;
  margin-left: 5px;
}

#map .marker-title {
  margin-top: 15px;
  margin-left: 65px;
 }

.marker-description {
  margin-left: 5px;
  padding-bottom: 5px;
}

.marker-description a {
  position: absolute;
  top: 0;
  margin-top: 45px;
  margin-left: 60px;
}

.tweettime {
  font-size: 12px;
}

.leaflet-popup-content {
  line-height: 18px !important;
}
