body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  margin-top: 90px;
}

#header {
  position: fixed !important;
  width: 100%;
  z-index: 100;
  height: 70px;
  background-color: #2F2F4F;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}


#header h1 {
	font-family: 'abel', sans-serif;
	text-shadow: 1px 1px 3px #000000;
	font-size: 80px;
  letter-spacing: 5px;
  margin-top: 0;
  padding: 0;
  float: left;
  color: white;
}

#loading {
   width:100%; 
   height:100%; 
   background:url('/assets/loader.gif') center center no-repeat;
   display: none;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
 }

#map img {
  position: absolute;
  top: 0;
  margin-top: 10px;
  margin-left: 5px;
}

 #map .marker-title {
  margin-left: 65px;
 }

.marker-description {
  margin-left: 5px;
}

.marker-description a {
  position: absolute;
  top: 0;
  margin-top: 30px;
  margin-left: 60px;
}

