#popup {
	font-family: 'lato';
	color: #fff;
	width: 600px;
	height: 250px;
	margin-top: 100px;
	margin-left: 25px;
	position: relative;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .70);
}

#popup p {
	font-size: 24px;
	margin-left: 10px;
	/*font-weight: normal;*/
	font-family: arial;
	font-style: italic;
}

#popup a {
	font-size: 30px;
	font-weight: bold;
	color: #0099ff;
	font-family: 'oxygen';
}

#close {
	margin-left: 100px;
	cursor: pointer;
}

p span {
	font-size: 12px;
	font-style: normal;
}

img {
	float: right;
}