#popup {
	color: #fff;
	width: 600px;
	height: 250px;
	margin-top: 100px;
	margin-left: 25px;
	position: relative;
	padding: 30px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .70);
	z-index: 500;
}

#close {
	position: absolute;
	padding: 10px;
	top: 0px;
	right: 0px;
	cursor: pointer;
}


#popup p {
	font-size: 24px;
	margin-left: 10px;
	font-weight: normal;
	font-family: 'roboto';
}

#time{
	font-size: 15px;
	font-style: normal;
}

#popup a {
	font-size: 30px;
	font-weight: bold;
	color: #0099ff;
	font-family: 'oxygen';
}


#popup img {
	float: left;
	margin-right: 10px;
}