#searchform {
  float: right;
  top: 0;
  margin-top: 18px;
}

#autocomplete {
  font-size: 1.5em;
  font-family: 'open sans';
  width: 400px;
  height: 30px;
  padding: 2px;
  margin-right: 60px;
  border-radius: 8px;
}

.autocomplete-suggestions { 
  font-size: 1.5em;
  font-family: 'open sans';
  background: #fff; 
  border: 1px solid #000; 
  padding-left: 5px;
  padding-bottom: 2px;
  overflow: auto; 
  white-space: nowrap;
  cursor: default; 
  z-index: 500;
}

.autocomplete-suggestions strong { 
  font-weight: normal; 
  color: #3399ff; 
}