#newtrucktab  {
	font-family: dosis;
	position: absolute;
	padding: 5px 5px;
	bottom: 0;
	left: 5px;
	text-align: center;
	background-color: #000;
	color: #fff;
	border-radius: 10px 10px 0 0
}

#newtrucktab:hover {
	cursor: pointer;
}

#newtruckform {
	display: none;
	position: absolute;
	left: 1px;
	bottom: 0px;
	padding: 20px;
	width: 200px;
	background-color: #000;
	color: #fff;
	font-family: dosis;
	border-radius: 10px 10px 0 0;
	text-align: center;
}

#newtruckform input{
	width: 100px;
}

#newtruckform form {
	color: #fff;
}